<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AppFinancia</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
   <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lista-transaction">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Transaçoês
            </NavLink>
        </div>
        <div class="nav-item px-3">
             <NavLink class="nav-link" href="add-transaction">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Adiciona Transação
            </NavLink>
        </div>

        <div class="nav-item px-3">
             <NavLink class="nav-link" href="reports">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Relatorios
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="graficos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Graficos
            </NavLink>
        </div>
            
          <div class="nav-item px-3">
             <NavLink class="nav-link" href="advanced-filter">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Filtros Avançada
            </NavLink>
        </div> 
           
            
           
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
